@model AuthenticationJWT.Models.UserDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/shared/pagelayout.css" />
    <link rel="stylesheet" href="~/Content/user-layout/header-footer-style.css" />
    <link rel="stylesheet" href="~/Content/user-layout/edit-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/userhome-scripts.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <title>View Profile</title>
</head>
<body>
    @Html.Partial("_Header", Model)
    <div class="content">
        <form action="/Home/EditUser" method="post" class="edit-user-form">
            @Html.HiddenFor(x => x.Id)       
            <table>
                <tr>
                    <th>Name:</th>
                    <td class="display">@Html.TextBoxFor(x => x.Name, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td class="display">@Html.TextBoxFor(x => x.Email, new { @readonly = "readonly", @data_val = "false" })</td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    @if (string.IsNullOrEmpty(Model.Gender))
                    {
                        <td class="user-gender">
                            <div class="options">
                                <div>
                                    Male
                                    @Html.RadioButtonFor(x => x.Gender, "Male")
                                </div>
                                <div>
                                    Female
                                    @Html.RadioButtonFor(x => x.Gender, "Female")
                                </div>                                
                            </div>
                            <div>
                                @Html.ValidationMessageFor(x => x.Gender)
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(x => x.Gender)</td>
                    }
                </tr>
                <tr>
                    <th>Date Of Birth:</th>
                    @if (!Model.DateOfBirth.HasValue)
                    {
                        <td class="details">
                            <div>
                                @Html.TextBoxFor(x => x.DateOfBirth, new { type = "date" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(x => x.DateOfBirth)
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(x => x.DateOfBirth)</td>
                    }
                </tr>
                <tr>
                    <th>Contact No:</th>
                    @if (string.IsNullOrEmpty(Model.ContactNo))
                    {
                        <td class="details">
                            <div>
                                @Html.TextBoxFor(x => x.ContactNo, new { autocomplete = "off" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(x => x.ContactNo)
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(x => x.ContactNo)</td>
                    }
                </tr>
                <tr>
                    <th>State:</th>
                    @if (string.IsNullOrEmpty(Model.State))
                    {
                        <td class="details">
                            <div>
                                @Html.TextBoxFor(x => x.State, new { autocomplete = "off" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(x => x.State)
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(x => x.State)</td>
                    }
                </tr>
                <tr>
                    <th>City:</th>
                    @if (string.IsNullOrEmpty(Model.City))
                    {
                        <td class="details">
                            <div>
                                @Html.TextBoxFor(x => x.City, new { autocomplete = "off" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(x => x.City)
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(x => x.City)</td>
                    }
                </tr>
                <tr>
                    <th>Zip:</th>
                    @if (string.IsNullOrEmpty(Model.Zip))
                    {
                        <td class="details">
                            <div>
                                @Html.TextBoxFor(x => x.Zip, new { autocomplete = "off" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(x => x.Zip)
                            </div>

                        </td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(x => x.Zip)</td>
                    }
                </tr>
                <tr>
                    <td colspan="2" class="save-action">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Save" class="button" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
