@model AuthenticationJWT.Models.UserDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/shared/pagelayout.css" />
    <link rel="stylesheet" href="~/Content/user-layout/header-footer-style.css" />
    <link rel="stylesheet" href="~/Content/user-layout/edit-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/userhome-scripts.js"></script>
    <title>View Profile</title>
</head>
<body>
    @Html.Partial("_Header", Model)
    <div class="content">
        <form action="/Home/Edit" method="post" class="sign-up-form">
            <table>
                <tr>
                    <th>Name:</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    @if (string.IsNullOrEmpty(Model.Gender))
                    {
                        <td class="user-gender">
                            <div class="option1">
                                Male
                                @Html.RadioButtonFor(x => x.Gender, "Male")
                            </div>
                            <div class="option2">
                                Female
                                @Html.RadioButtonFor(x => x.Gender, "Female")
                            </div>                            
                        </td>
                    }
                    else
                    {
                        <td>@Model.Gender</td>
                    }
                </tr>
                <tr>
                    <th>Date Of Birth:</th>
                    @if (!Model.DateOfBirth.HasValue)
                    {
                        <td class="details">
                            @Html.TextBoxFor(x => x.DateOfBirth, new { type = "date" })
                        </td>
                    }
                    else
                    {
                        <td>@Model.DateOfBirth</td>
                    }
                </tr>
                <tr>
                    <th>Contact No:</th>
                    @if (string.IsNullOrEmpty(Model.ContactNo))
                    {
                        <td class="details">
                            @Html.TextBoxFor(x => x.ContactNo, new { autocomplete = "off" })
                        </td>
                    }
                    else
                    {
                        <td>@Model.ContactNo</td>
                    }
                </tr>
                <tr>
                    <th>State:</th>
                    @if (string.IsNullOrEmpty(Model.State))
                    {
                        <td class="details">
                            @Html.TextBoxFor(x => x.State, new { autocomplete = "off" })
                        </td>
                    }
                    else
                    {
                        <td>@Model.State</td>
                    }
                </tr>
                <tr>
                    <th>City:</th>
                    @if (string.IsNullOrEmpty(Model.City))
                    {
                        <td class="details">
                            @Html.TextBoxFor(x => x.City, new { autocomplete = "off" })
                        </td>
                    }
                    else
                    {
                        <td>@Model.City</td>
                    }
                </tr>
                <tr>
                    <th>Zip:</th>
                    @if (string.IsNullOrEmpty(Model.Zip))
                    {
                        <td class="details">
                            @Html.TextBoxFor(x => x.Zip, new { autocomplete = "off" })
                        </td>
                    }
                    else
                    {
                        <td>@Model.Zip</td>
                    }
                </tr>
                <tr>
                    <td colspan="2" class="save-action">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Save" class="button" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
